<form class="form-signin" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Sample SignUp</h1>
  </div>

  <app-input-text
    [placeholder]="'Full Name'"
    [isRequired]="true"
    [errorMsg]="'Please enter you name'"
    [label]="'Full Name'"
    ngModel
    name="name"
  ></app-input-text>

  <app-input-text
    [placeholder]="'Age'"
    [label]="'Age'"
    ngModel
    name="age"
  ></app-input-text>

  <app-input-text
    [placeholder]="'Email'"
    [isRequired]="true"
    [errorMsg]="'Please enter valid email address'"
    [label]="'User Email'"
    [pattern]="'[A-Za-z0-9._%-]+@[A-Za-z0-9._%-]+\\.[a-z]{2,3}'"
    ngModel
    name="email"
  ></app-input-text>

  <button
    class="btn btn-lg btn-primary btn-block"
    [disabled]="!f.valid"
    type="submit"
  >
    Sign in
  </button>
</form>
